<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- Fonts -->
  <!-- Fonts for the skill tree are loaded separately, due to PixiJS font loading issue. -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500;900&display=swap"
    rel="stylesheet">
  <style>
    html,
    body,
    #app {
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    body {
      font-family: 'Poppins', sans-serif;
    }

    th {
      vertical-align: top;
    }

    /* Buttons */
    .ci-btn {
      margin: auto;
    }

    .expand-btn {
      width: 35.2px;
      height: 38px;
    }

    .table_div {
      overflow-x: auto;
    }

    .skilltree-table td,
    .skilltree-table th {
      padding: 0.5rem;
      vertical-align: top;
    }

    /* Copy of the Bootstrap class, to deal with issue of table overriding button styling */
    .skilltree-table {
      --bs-table-color: var(--bs-body-color);
      --bs-table-bg: transparent;
      --bs-table-border-color: var(--bs-border-color);
      --bs-table-accent-bg: transparent;
      --bs-table-striped-color: var(--bs-body-color);
      --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
      --bs-table-active-color: var(--bs-body-color);
      --bs-table-active-bg: rgba(0, 0, 0, 0.1);
      --bs-table-hover-color: var(--bs-body-color);
      --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
      width: 100%;
      margin-bottom: 1rem;
      color: var(--bs-table-color);
      vertical-align: top;
      border-color: var(--bs-table-border-color);
      border-radius: 10px;
      background-color: white;
    }

    /* Admins only */
    .adminsOnly {
      display: none;
    }

    /* SnapChat button */
    .snapchat-creative-kit-share a {
      width: 40px;
      height: 40px;
    }

    .snapchat-creative-kit-share button {
      width: 40px;
      height: 40px;
    }

    .snapchat-creative-kit-share button div {
      width: 40px;
      height: 40px;
    }

    .snapchat-creative-kit-share a div {
      width: 40px;
      height: 40px;
    }

    .snapchat-creative-kit-share a div img {
      width: 24px;
      height: 24px;
    }

    .snapchat-creative-kit-share button div img {
      width: 24px;
      height: 24px;
    }

    /* Does not work if in the component file.
    Is to remove underline from source link in source forum on skill pages.
     */
    .forum-post a {
      text-decoration: none
    }

    /* Skilltree */
    /* We load the font for the skilltree here. */
    @font-face {
      font-family: 'Poppins900';
      src: url('https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2') format('woff2')
        /* src: url('/Poppins.woff2') format('woff2') */
    }


    /* For extremely small screen devices (595px and below) */
    @media only screen and (max-width: 600px) {}
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Collins Institute</title>
  <meta name="description" content="We do not educate; we facilitate education. 
  While not for all students, we serve as a tool that helps self-motivated learners reach new heights.">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" s
    crossorigin="anonymous"></script>
  <!-- JQuery (for Summernote) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Summernote Lite -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

  <!-- Plausible web analytics -->
  <script defer data-domain="parrhesia.io" src="https://plausible.io/js/script.js"></script>
  <!-- Google Search Console site ownership verification tag -->
  <meta name="google-site-verification" content="y1xesxPvb1GwyssylGalOU86R7lSYEzVfYum58QSI_E" />

  <% if (environment==='production' ) { %>
    <link rel="stylesheet" href="<%= process.env.BASE_URL + '/'+ manifest['src/main.css'].file %>" />
    <% } %>


</head>

<body>
  <div id="app"></div>
  <% if (environment==='production' ) { %>
    <script type="module" src="<%= process.env.BASE_URL + '/'+  manifest['src/main.js'].file %>"></script>

    <% } else { %>
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script type="module" src="http://localhost:5173/src/main.js"></script>
      <% } %>
</body>

</html>